.contact__title {
    padding-top: 50px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 28px;
    line-height: 135%;
}
.contact__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
}

.contact__subtitle {
    margin-bottom: 77px;
    line-height: 142.4%;
    max-width: 500px;
}
.contact__box {
    display: flex;
}
.contact__box-content {
    max-width: 500px;
}
.contact__box-content-address span{
    color: #828282;
}
.contact__box-content-address{
    margin-bottom: 50px;
    font-weight: 700;
}
.contact__box-content-email {
    display: block;
    margin-bottom: 40px;
   color:  #2F80ED;
}
.contact__box-content-time span{
    color:#828282;
}
.contact__box-info {
    max-width: 320px;
    margin-left: 90px;
}
.contact__box-info-phone {
    display: block;
    font-weight: 700;
}
.contact__box-info-text {
    margin-bottom: 50px;
}

.map{
    padding-bottom: 120px;
}
.contact__box-info-phone--one,
.contact__box-info-phone--two{
    position: relative;
}
.contact__box-info-phone--one::before,
.contact__box-info-phone--two::before{
    position: absolute;
    content:'';
    width: 40px;
    height: 40px;
    left: -40px;
    top: 2px;
}
.contact__box-info-phone--one::before{
    background: url('../images/icon/phone-request-bottom.svg') no-repeat;
}
.contact__box-info-phone--two::before{
    background: url('../images/icon/call-request-bottom.svg') no-repeat;
}
.contact__form .heading__form{
    max-width: 550px;
}
.contact__form .heading__form .heading__form-input,
.contact__form .heading__form .heading__form-btn{
    width: 100%;
}
.heading__form-textarea{
    margin-bottom: 15px;
    resize: none;
    width: 100%;
    height: 143px;
    border: 1px solid #BDBDBD;
}
