html,
body {
	height: 100%;/*sticky footer*/
	display: flex;/*sticky footer*/
	flex-direction: column;/*sticky footer*/
	margin: 0;
	scroll-behavior: smooth;
	font-family: 'Inter';
	font-size: 18px;
	line-height: 142.4%;
	font-weight: 400;
	color: #333;
}
body > * {
	flex-shrink: 0;
	/*sticky footer*/
  }
.footer{
	margin-top: auto;/*sticky footer*/
}
button{
	cursor: pointer;
}
.container{
	max-width: 1507px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.container-header{
	max-width: 1825px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.button{
	position: relative;
	width: 211px;
    height: 40px;
    border: none;
    background: #F6C443;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
}
.button::before{
	position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: url('../images/icon/footer-icon-btn.svg') no-repeat;
    left: 14px;
    top: 14px
}
a{
	color: inherit;
}





