.header__inner {
    display: flex;
    align-items: center;
}
.header__left {
    width: 260px;
}
.logo{
    max-width: max-content;
}
.header{
    border-bottom: 1px solid  #E3E3E3;
}
.header__center {
    width: 100%;
    margin-left: 60px;
    border-left: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
}
.header__center-top {
   padding-top: 18px;
   padding-bottom: 22px;
   border-bottom: 1px solid #E3E3E3;
}
.header__form-input {
    border: none;
}
.header__form-input::placeholder{
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 14px;
    color: #828282;
}
.header__form-btn {
    position: relative;
    border: none;
    font-size: 0;
    padding: 0;
    display: block;
}
.header__form-btn::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('../images/icon/search-header.svg') no-repeat;
    top: 4px;
    left: -26px;

}

.header__center-address {
    position: relative;
    width: 160px;
    margin-left: auto;
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-align: center;
}
.header__center-address::before{
    position: absolute;
    content: "";
    width: 1px;
    height: 68px;
    background: url('../images/icon/line-header.svg') no-repeat;
    left: 14px;
    top: -18px;
}
.header__center-bottom {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header__center-block{
    margin-left: 80px;
    display: flex;
}
.menu__list {
    display: flex;
    margin-left: 53px;
}
.menu__list-item + .menu__list-item{
    margin-left: 50px;
}
.menu__list-link {
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 14px;
}
.menu__list-item.active{
    color:#143586;
}
.header__right {
    width: 615px;
    margin-left: auto;
}
.header__right-top {
    margin-bottom: 48px;
    display: flex;
    padding-left: 30px;
    border-bottom: 1px solid #E3E3E3;
}
.header__right-block {
    width: 245px;
    padding-top: 10px;
}
.header__right-phone {
    margin-bottom: 5px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;
}
.header__right-text {
    font-family: 'Noto Sans';
    font-style: normal;
    font-size: 14px;
    color: #828282;

}
.header__right-btn {
    margin-left: 70px;
    width: 248px;
    height: 68px;
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    border: none;
    background: #143586;
    text-align: center;
}
.header__right-bottom {
    padding-left: 30px;
}
.header__right-email {
    display: block;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 14px;
    transform: translateY(-24px);
    color: #000000;
}




// HEADING
.heading {
    background: url('../images/home-bg.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
}
.heading__inner-wrapper {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 95px;
}
.heading-block {
    max-width: 800px;
}
.heading-block__title {
    max-width: 800px;
    margin-bottom: 38px;
    font-weight: 700;
    font-size: 48px;
    line-height: 135%;
}
.heading-block__text {
    max-width: 754px;
    margin-bottom: 81px;
    font-weight: 300;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.03em; 
}
.heading-block__inner{
    display: flex;
    column-gap: 40px;
}
.heading-block__item {
    width: 268px;
}
.heading-block__item-title {
    position: relative;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 44px;
    line-height: 135%;
    letter-spacing: 0.03em;
}
.heading-block__item-title::before{
    position: absolute;
    content: '';
    width: 129px;
    height: 4px;
    background: url('../images/icon/line-heading.svg') no-repeat;
    top: 65px;
}
.heading-block__item-text {
    width: 268px;
    margin-bottom: 22px;
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.03em;
}
.heading-block__item-link {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0.03em;
}
.heading-block__item-link::before{
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    top: 4px;
    right: -40px;
    background: url('../images/icon/headin-arrows.svg') no-repeat;
}
.heading__form {
    max-width: 424px;
    margin-left: 120px;
    padding: 38px;
    background-color: #fff;
    border-radius: 5px;
}
.heading__form-title {
    margin-bottom: 28px;
    font-weight: 600;
    color: #333333;
}
.heading__form-input {
    margin-bottom: 16px;
    padding: 18px;
    width: 350px;
    height: 56px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}
.heading__form-input::placeholder{
    font-weight: 300;
    font-size: 14px;
    color: #828282;
}
.heading__form-btn.button {
    margin-bottom: 12px;
    width: 350px;
    height: 56px;
}
.heading__form-btn.button::before{
    left: 87px;
    top: 21px;
}
.heading__form-text {
    font-size: 12px;
    color: #BDBDBD;
}

.heading-info {
    margin-top: -100px;
    padding: 57px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}
.heading-info__title {
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 28px;
    line-height: 135%;
}

.heading-info__inner {
    display: flex;
    column-gap: 100px;
}
.heading-info__item {
    width: 360px;
}
.heading-info__item-title {
    position: relative;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 135%;
    margin-left: 40px;
}
.heading-info__item-title::before{
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    background: url('../images/icon/heading-mark.svg') no-repeat;
    left: -40px;
    top: 4px;
}

.heading-info__item-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
}




// tourism
.tourism {
    padding-top: 80px;
    padding-bottom: 80px;
    background: #F9F9F9;
}

.tourism__title {
    margin-bottom: 56px;
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 28px;
    line-height: 135%;
}
.tourism__inner {
    display: flex;
    margin-bottom: 48px;
}

.tourism__content {
    max-width: 858px;
    margin-left: 70px;
}
.tourism__content-title {
    margin-bottom: 40px;
    font-weight: 600;
    line-height: 140%;
}
.tourism__content-text {
    margin-bottom: 40px;
    font-weight: 300;
    line-height: 140%;
}
blockquote{
    position: relative;
    padding-left: 100px;
    margin-bottom: 40px;
    font-weight: 500;
    line-height: 140%;
}
blockquote::before{
    position: absolute;
    content: '';
    width: 70px;
    height: 70px;
    background: url('../images/icon/medical-tourism-reviews.svg') no-repeat;
    left: 0;
}
.tourism__bottom {
    display: flex;
}
.tourism__bottom-img img{
    max-width: max-content;
    border-radius: 10px;
}
.tourism__bottom-text {
    margin-left: 56px;
    font-weight: 300;
    line-height: 140%;
}


// DIRECTIONS
.directions{
    padding-top: 80px;
    padding-bottom: 80px;
}
.directions__title {
    margin-bottom: 55px;
    font-weight: 700;
    font-size: 28px;
    line-height: 135%;
}

.directions-block {
    display: flex;
    justify-content: space-between;
    column-gap: 90px;
}
.directions-block__item a{
    max-width: 283px;
    margin-bottom: 39px;
    display: flex;
    align-items: center;
}
.directions-block__item-text {
    margin-left: 23px;
    font-weight: 300;
    font-size: 16px;
    line-height: 135%;
}
.directions-block__btn{
    width: 310px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #000;
    display: none;
}




  ._hidden {
    display: none;
  }
.directions-block{
    display: flex;
    flex-wrap: wrap;
}
.directions-block__item{
    width: 230px;
}
li{
    list-style: none;
}






// HELP
.help {
    padding-top: 150px;
}
.help__title {
    margin-bottom: 26px;
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 28px;
    line-height: 135%;
}
.help__inner {
    display: flex;
}
.help__content {
    max-width: 711px;
}
.help__content-text {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.03em;
}
strong{
    display: block;
}
.help__service {
    max-width: 750px;
    margin-left: 100px;
}
.help__service-top {
    margin-bottom: 58px;
    padding: 35px;
    background: #F9F9F9;
    border-radius: 15px;
}
.help__service-top-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.03em;
}
.help__service-bottom {
    display: flex;
    justify-content: space-between;
}
.help__service-item {
    width: 249px;
}
.help__service-item-title {
    margin-bottom: 15px;
    margin-left: 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.03em;
}
.help__service-item-left,
.help__service-item-right {
    position: relative;
}
.help__service-item-left::before,
.help__service-item-right::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    left: -45px;
    top: -8px;
}
.help__service-item-left::before{
    background: url('../images/icon/help-icon-right.svg') no-repeat;
}
.help__service-item-right::before{
    background: url('../images/icon/help-icon-left.svg') no-repeat;
}




// SERVICES
.services{
    padding-bottom: 150px;
}
.services__title{
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 28px;
    line-height: 135%;
}
.services__inner {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
}
.services__item {
    max-width: 281px;
}
.services__item-title {
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
}
.services__item-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
}

// CALCULATION
.calculation{
    position: relative;
}
.calculation__inner {
    margin-top: 150px;
    display: flex;
    justify-content: flex-end;
    background: #F0F0F0;
    border-radius: 25px;
}
.calculation__form {
    padding-top: 46px;
    padding-bottom: 46px;
    max-width: 788px;
}
// .calculation::before{
//     position: absolute;
//     content: '';
//     width: 325px;
//     height: 397px;
//     background: url('../images/services-doctor.png') no-repeat;
//     bottom: 0;
//     left: 90px;
// }
.calculation__inner{
    display: flex;
    height: 300px;
}
.calculation__inner-img{
    margin-right: 90px;
    transform: translateY(-100px);
}
.calculation__form-title {
    margin-bottom: 28px;
    font-weight: 700;
    font-size: 28px;
    line-height: 135%;
}
.calculation__form-input {
    padding: 18px;
    width: 264px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
}
.calculation__form-input::placeholder{
    font-weight: 300;
    font-size: 14px;
    line-height: 142.4%;
}
.calculation__form-btn {
    width: 290px;
    height: 54px;
    margin-left: 25px;
    transform: translateY(-3px);
}
.calculation__form-btn::before{
    top: 21px;
    left: 51px;
}
.calculation__form-text {
    margin-top: 22px;
    font-weight: 300;
    font-size: 13px;
    line-height: 142.4%;
}
// QUESTIONS        
.questions {
    padding-top: 60px;
    padding-bottom: 60px;
}
.questions__title {
    margin-bottom: 50px;
   
}
.questions__wrapper{
    margin-bottom: 20px;
    padding: 17px;
    background: #FAFAFB;
    border-radius: 25px;
    cursor: pointer;
}

.questions-accardion__btn {
    width: 100%;
    position: relative;
}
.questions-accardion__title {
    margin-left: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 135%;
    color: #000000;
}
.questions-accardion__title::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background: url('../images/icon/accardion-questions.svg') no-repeat;
    left: 0;
    top: -3px;
}
.questions-accardion__content {
    max-width: 100%;
    padding-top: 20px;
    display: none;
}
.questions-accardion__text p{
    padding-left: 40px;
    font-size: 16px;
}


// arthritis
.arthritis__title {
    margin-bottom: 40px;
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 28px;
    line-height: 135%;
}
.arthritis__block {
    margin-bottom: 70px;
    display: flex;
}
.arthritis__content {
    max-width: 920px;
}
.arthritis__content-title {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
}
.arthritis__content-text {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 140%;
}
.arthritis__content-text span{
    font-weight: 600;
}
.arthritis__img {
    min-width: 500px;
    margin-left: 60px;
}
.arthritis__bottom {
    display: flex;
   align-items: center;
}
.arthritis__bottom-img img{
    min-width: 138px;
}
.arthritis__bottom-text {
    margin-left: 48px;
}



// algorithm
.algorithm {
    padding-top: 140px;
    padding-bottom: 100px;
}
.algorithm__title{
    margin-bottom: 150px;
    font-weight: 700;
    font-size: 28px;
    line-height: 135%;
    text-align: center;
}
.container {
}
.algorithm__block {
    display: flex;
    justify-content: space-between;
}
.algorithm__item {
    width: 190px;
}
.algorithm__item-img img{
    margin-left: auto;
    margin-right: auto;
}
.algorithm__item-text {
    margin-top: 24px;
    font-size: 16px;
    line-height: 135%;
    text-align: center;
}
.algorithm__item-top {
    transform: translateY(-90px);
}





// .slider-reviews
.slider-reviews {
    padding-top: 120px;
    padding-bottom: 120px;
}
.slider-reviews__title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 28px;
    line-height: 135%;
}
.slider-reviews__content {
    display: flex;
    margin-bottom: 56px;
}
.slider-reviews__content-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 135%;
}
.slider-reviews__content-img {
    margin-left: 16px;
    display: flex;
}
.slider-reviews__content-text {
    margin-left: 32px;
    font-size: 16px;
    line-height: 135%;
}
.slider-reviews__box{
    display: flex;
    justify-content: space-between;
}
.reviews__arrows-left,
.reviews__arrows-right{
    position: relative;
    font-size: 0;
    padding: 0;
    border: none;
}

.reviews__arrows-left::after,
.reviews__arrows-right::before{
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    top: -55px;
}
.reviews__arrows-left::after{
    background: url('../images/icon/reviews-arrows-left.svg') no-repeat;
    left: -160px
}
.reviews__arrows-right::before{
    background: url('../images/icon/reviews-arrows-right.svg') no-repeat;
    right: 40px;
}

.slider-reviews__item {
    max-width: 356px;
}
.slider-reviews__item-title {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 135%;
}
.slider-reviews__item-title span{
    font-weight: 400;
}
.slider-reviews__item-img {
    display: flex;
}
.slider-reviews__item-text {
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 300;
    font-size: 16px;
    line-height: 135%;
}
.slider-reviews__item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 135%;
}




// slider-doctor
.slider-doctor{
    padding-bottom: 100px;
}
.slider-doctor__box {
    display: flex;
    justify-content: space-between;
}
.slider-doctor__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 28px;
    line-height: 135%;
}
.slider-doctor__text {
    max-width: 745px;
    margin-bottom: 35px;
    font-weight: 300;
    font-size: 16px;
    line-height: 135%;
}
.doctor__arrows-left,
.doctor__arrows-right{
    position: relative;
    font-size: 0;
    padding: 0;
    border: none;
}
.doctor__arrows-right::after,
.doctor__arrows-right::before{
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    top: -0px;
}
.doctor__arrows-right::after{
    background: url('../images/icon/reviews-arrows-left.svg') no-repeat;
    left: -160px
}
.doctor__arrows-right::before{
    background: url('../images/icon/reviews-arrows-right.svg') no-repeat;
    right: 40px;
}
.slider-doctor__block-item {
    width: 263px;
    height: 418px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    border: 1px solid #E0E0E0;
}

.slider-doctor__block-title {
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 700;
    line-height: 135%;
}
.slider-doctor__block-text {
    margin-top: auto;
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
}



// medicine
.medicine{
    padding-bottom: 70px;
}
.medicine__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.medicine__item {
    max-width: 350px;
    margin-top: 55px;
}
.medicine__item-img {
    border-radius: 20px;
}
.medicine__item-text {
    margin-top: 24px;
    font-size: 16px;
    text-align: center;
    line-height: 135%;
}
.medicine__btn{
    width: 350px;
    height: 56px;
    display: block;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 142.4%;
}
.medicine__bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hide{
    display: none;
}




// .selection
.selection-box {
    display: flex;
    justify-content: space-between;
}
.selection-box__item {
    max-width: 400px;
}
.selection-box__inner {
    display: flex;
    align-items: center;
}
.selection-box__item-text {
    width: 235px;
    margin-left: 20px;
    font-size: 16px;
    line-height: 135%;
}
.selection-box__item-text span{
    font-size: 16px;
    font-weight: 700;
    line-height: 135%;
}


// why
.why{
    margin-top: 100px;
    padding-top: 80px;
    padding-bottom: 122px;
    background:#F9F9F9;
}
.why__title {
    margin-bottom: 58px;
    font-weight: 700;
    font-size: 28px;
    line-height: 135%;
}
.why__block {
    display: flex;
    justify-content: space-between;
}
.why__block-item {
    max-width: 452px;
}
.why__block-title {
    margin-top: 32px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 135%;
}
.why__block-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 135%;
}



// request
.request{
    padding-top: 120px;
    padding-bottom: 120px;
    background: url('../images/request-bg.jpg') no-repeat center;
}
.request__block {
    display: flex;
    align-items: center;
}
.request__block-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 48px;
    line-height: 135%;
    color: #FFFFFF;
}
.request__block-text {
    font-size: 20px;
    line-height: 135%;
    color: #FFFFFF;
}
.request__block-form {
    margin-left: 50px;
}


// kinds
.kinds{
    padding-top: 57px;
    padding-bottom: 78px;
}
.kinds__title{
    margin-bottom: 55px;
    font-weight: 700;
    font-size: 28px;
    line-height: 135%;
}
.kinds-box {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    justify-content: space-between;
}
.kinds-box__left,
.kinds-box__center,
.kinds-box__right{
    max-width: 415px;
}
.kinds-box__item {
    margin-bottom: 38px;
    max-width: 415px;
    display: flex;
    align-items: center;
}
.kinds-box__link {
    font-weight: 300;
    font-size: 16px;
    line-height: 135%;
    margin-left: 15px;
    display: block;
}

// organization
.organization{
    padding-top: 85px;
    padding-bottom: 95px;
    background: url('../images/organization-bg.jpg') no-repeat center;
    background-size: cover;
}
.organization__title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 28px;
    line-height: 135%;
}
.organization__text {
    margin-bottom: 61px;
    font-weight: 300;
    font-size: 18px;
    line-height: 135%;
}
.organization__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 80px;
}
.organization__block-item {
    width: 330px;
    display: flex;
    align-items: center;
}
.organization__block-text {
    margin-left: 30px;
    max-width: 280px;
    font-size: 16px;
}

// wellness
.wellness{
    padding-top: 96px;
    padding-bottom: 91px;
}

.wellness__title {
    margin-bottom: 56px;
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 28px;
    line-height: 135%;
}
.wellness__block {
    display: flex;
    margin-bottom: 30px;
}
.wellness__img {
    min-width: 326px;
}
.wellness__content {
    margin-left: 50px;
    max-width: 1000px;
}
.wellness__content-text {
    margin-bottom: 30px;
    font-weight: 300;
    line-height: 140%;
}
.wellness__content-subtitle {
    font-weight: 700;
}
.wellness__center {
    border-radius: 10px;
    margin-bottom: 30px;
    background: #F9F9F9;
    padding: 20px;
}

.wellness__bottom-text {
    font-weight: 300;
    line-height: 140%;
}


// hisar
.hisar{
    margin-bottom: 220px;
     background:#F9F9F9;
}
.hisar__title {
    margin-top: 60px;
    margin-bottom: 40px;
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 28px;
    line-height: 135%;
}
.hisar__text {
    margin-bottom: 32px;
    font-weight: 300;
    line-height: 140%;
}
.hisar__reviews {
    font-weight: 600;
}





// benefits
.benefits {
    padding-top: 79px;
    padding-bottom: 80px;
}

.benefits__title {
    margin-bottom: 66px;
    font-weight: 700;
    font-size: 28px;
    line-height: 135%;
}
.benefits__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}
.benefits__block-item {
    width: 240px;
}
.benefits__block-text {
    margin-top: 24px;
    font-size: 16px;
    line-height: 135%;
    text-align: center;
}




// VIDEO
.video{
    padding-bottom: 120px;
}

.video__title {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 28px;
    line-height: 135%;
}
.video__block {
    display: flex;
    justify-content: space-between;
}
.video__item {
    max-width: 420px;
}

.video__item-img  {
    position: relative;
}
.video__item-img ::before{
    position: absolute;
    content: '';
    width: 70px;
    height: 70px;
    background: url('../images/icon/video.svg') no-repeat;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video__item-text {
    margin-top: 33px;
    font-size: 18px;
    line-height: 135%;
}







// price
.price {
    padding-top: 80px;
    padding-bottom: 80px;
    background:#F9F9F9;
}

.price__title {
    margin-bottom: 40px;
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 28px;
    line-height: 135%;
}
.price__block {
    margin-bottom: 70px;
    display: flex;
    align-items: center;
}
.price__img {
    min-width: 500px;
}
.price__content {
    max-width: 920px;
    margin-left: 50px;
}
.price__content-title {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
}
.price__content-text {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 140%;
}
.price__content-text span{
    font-weight: 600;
}
.price__bottom {
    display: flex;
    align-items: center;
}

.price__bottom-img img{
    min-width: 138px;
}
.price__bottom-text {
    margin-left: 48px;
}



// liv
.liv{
    padding-top: 80px;
}
.liv__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 80px;
}
.liv__item {
    max-width: 690px;
    display: flex;
    border: 2px solid #000000;
}
.liv__item-content {
    padding: 43px;
}
.liv__item-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 135%;
}
.liv__item-text {
    font-size: 16px;
}
.liv__item-img {
    min-width: 317px;
}
.liv__box{
    margin-top: 120px;
    display: flex;
}
.liv__box-img {
    min-width: 430px;
}
.liv__box-content {
    margin-left: 50px;
    max-width: 1000px;
}
.liv__box-title {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
}
.liv__box-subtitle {
    margin-bottom: 10px;
}
.liv__box-star img{
    display: inline;
}
.liv__box-star-text {
    font-size: 14px;
    line-height: 180%;
    color: #828282;
    display: inline;
}
.liv__box-text {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 135%;
}
.liv__box-desc {
    margin-bottom: 24px;
}
.liv__box-desc span{
    font-weight: 700;
}
.liv__box-bottom {
    display: flex;
}
.liv__box-btn {
    width: 226px;
    height: 56px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    border: none;
    line-height: 142.4%;
    background: #F6C443;
    border-radius: 5px;
}
.liv__box-phone {
    margin-left: 40px;
}
.liv__box-phone span{
    font-weight: 700;
}



// experts
.experts{
    padding-top: 100px;
    padding-bottom: 100px;
}


// TEAM
.team{
    padding-bottom: 83PX;
}

.team__block {
    display: flex;
    justify-content: space-between;
}
.team__content {
    max-width: 700px;
}
.team__content-title {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
}
.team__content-text {
    margin-bottom: 26px;
    font-size: 16px;
    line-height: 135%;
}
.team__content-link {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 135%;
}
.team__content-link::after{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: url('../images/icon/dmu-bottom-arrows.svg') no-repeat;
    top: 4px;
    right: -40px;
}
.team__info {
    max-width: 600px;
}
.team__info-item {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.team__info-img {
    min-width: 90px;
}
.team__info-img img{
    margin-left: auto;
    margin-right: auto;
}
.team__info-box {
    max-width: 500px;
    margin-left: 50px;
}
.team__info-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 135%;
}
.team__info-text {
    font-size: 16px;
}






// treatment
.treatment{
    padding-top: 80px;
    padding-bottom: 80px;
    background: #F9F9F9;;
}

.treatment__title {
    margin-bottom: 48px;
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 28px;
    line-height: 135%;
}
.treatment__block {
    margin-bottom: 48px;
    display: flex;
}
.treatment__content-text {
    margin-bottom: 30px;
    line-height: 140%;
}
.treatment__content-text  span{
    font-weight: 700;
}
.treatment__img {
    margin-left: 68px;
    min-width: 560px;
}
.treatment__reviews{
    position: relative;
    padding: 50px;
    background: #FFEFDE;
    border-radius: 10px;
}
.treatment__reviews::before{
    position: absolute;
    left: auto;
}
.treatment__reviews p{
    margin-left: 120px;
}




// dmu
.dmu{
    padding-top: 80px;
    padding-bottom: 100px;
}
.container {
}
.dmu__title {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 28px;
    line-height: 135%;
}
.dmu__subtitle {
    margin-bottom: 47px;
    font-size: 16px;
    line-height: 135%;
}
.dmu__block {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.dmu__item {
    display: flex;
    max-width: 400px;
}
.dmu__number {
    padding: 26px;
    width: 120px;
    height: 120px;
    border: 5px solid #F6C443;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    line-height: 135%;
}
.dmu__content {
    margin-left: 30px;
}
.dmu__content-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
}
.dmu__content-text {
    margin-bottom: 15px;
    line-height: 135%;
}
.dmu__content-phone {
    position: relative;
    font-weight: 700;
    margin-left: 30px;
}
.dmu__content-phone::before,
.dmu__content-arrows::before{
    position: absolute;
    content: '';
    width: 30px;
    height: 20px;
    left: -30px;
    top: 4px;
}
.dmu__content-phone::before{
    background: url('../images/icon/dmu-phone.svg') no-repeat;
}
.dmu__content-arrows {
    position: relative;
    font-weight: 700;
    margin-left: 30px;
}
.dmu__content-arrows::before{
    background: url('../images/icon/dmu-arrows.svg') no-repeat;
}
.dmu-bottom {
    display: flex;
    justify-content: space-between;
}
.dmu-bottom__left {
   max-width: 700px;
}
.dmu-bottom__left-title {
    margin-bottom: 31px;
    font-weight: 700;
    font-size: 28px;
    line-height: 135%;
}
.dmu-bottom__left-text {
    margin-bottom: 23px;
    font-size: 16px;
    line-height: 135%;
}
.dmu-bottom__left-link {
    position: relative;
    font-weight: 700;
}
.dmu-bottom__left-link::after{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: url('../images/icon/dmu-bottom-arrows.svg') no-repeat;
    top: 4px;
    right: -40px;
}
.dmu-bottom__right {
    max-width: 600px;
    margin-left: 50px;
}
.dmu-bottom__item {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}
.dmu-bottom__img {
    min-width: 78px;
}
.dmu-bottom__content {
    margin-left: 19px;
}
.dmu-bottom__content-title {
    font-size: 16px;
    font-weight: 700;
}
.dmu-bottom__content-text {
    font-size: 16px;
}






// request-bottom
.request-bottom{
    padding-bottom: 119px;
 }
 .request-bottom .heading__form{
     padding-top: 0;
 }
 .request-bottom__inner {
     display: flex;
     justify-content: space-between;
     padding: 89px 89px 30px 89px;
     border: 2px solid #000000;
 }
 .request-bottom__content {
     max-width: 590px;
 }
 .request-bottom__content-title {
     margin-bottom: 20px;
     font-weight: 700;
     font-size: 28px;
     line-height: 135%;
 }
 .request-bottom__content-text {
     margin-bottom: 30px;
     font-weight: 400;
     font-size: 16px;
     line-height: 135%;
 }
 .request-bottom__content-box {
     display: flex;
     justify-content: space-around;
 }
 .request-bottom__content-phone-link {
     position: relative;
     margin-bottom: 10px;
     font-weight: 700;
     font-size: 16px;
     line-height: 180%;
 }
 .request-bottom__content-phone--one::before,
 .request-bottom__content-phone--two::before {
     position: absolute;
     content:'';
     width: 40px;
     height: 40px;
     left: -40px;
     top: 2px;
 }
 .request-bottom__content-phone-text {
     font-size: 16px;
 }
 .request-bottom__content-phone--one::before{
     background: url('../images/icon/phone-request-bottom.svg') no-repeat;
 }
 .request-bottom__content-phone--two::before {
     background: url('../images/icon/call-request-bottom.svg') no-repeat;
 }
 
 
 
 







// FOOTER
.footer {
    padding-top: 64px;
    padding-bottom: 79px;
    background: #202020;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.footer__item {
    position: relative;
    max-width: 332px;
}
.footer__item::before{
    position: absolute;
    content: '';
    width: 5px;
    height: 350px;
    background: url('../images/icon/footer-line.svg') no-repeat;
    left: -100px;
}
.footer__item:first-child::before{
    display: none;
}

.footer__item-text {
    margin-top: 24px;
    margin-bottom: 32px;
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    color: rgba(255, 255, 255, 0.5);
}
.footer__item-btn {
    margin-bottom: 84px;
    position: relative;
    width: 211px;
    height: 40px;
    border: none;
    background: #F6C443;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
}
.footer__item-btn::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: url('../images/icon/footer-icon-btn.svg') no-repeat;
    left: 14px;
    top: 14px
}
.footer__item-copyright {
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    color: rgba(255, 255, 255, 0.5);
}
.footer__item-title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 135%;
}

.footer__menu-link,
.footer__list-link {
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
}

.footer__list-item,
.footer__menu-list-item {
    margin-bottom: 25px;
}

.footer__item-address {
    margin-bottom: 24px;
    width: 213px;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
}
.footer__item-phone {
    display: block;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
}
.footer__item-email {
    display: block;
    margin-bottom: 36px;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
}
.footer__item-social {
    display: flex;
}
.footer__item-social-link:first-child{
    margin-left: 0;
}
.footer__item-social-link{
    margin-left: 24px;
}
.questions__footer{
    display: none;
}
.footer__item-social.footer__item-social--modile{
    display: none;
}
