// mobile

.directions-block__btn-dowble{
    width: 310px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #000;
    display: none;
}
.nav-icon{
    width: 35px;
    display: none;
    position: relative;
    z-index: 20;
    margin-left: auto;
    margin-right: 20px;
}
.nav-icon::before{
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    background: url('../images/icon/header-phone.svg') no-repeat;
    top: -10px;
    left: -35px;
}
.nav-icon__middle{
    position: relative;
    width: 35px;
    height: 3px;
    background-color: transparent;
    transition: all .2s ease-in;
    background-color: #333;
}
.nav-icon__middle::after,
.nav-icon__middle::before{
    position: absolute;
    content: '';
    width: 35px;
    height: 3px;
    background-color: #333;
}
.nav-icon__middle::after{
    bottom: 6px;
    transition: all .2s ease-in;
}
.nav-icon__middle::before{
    top: 6px;
    transition: all .2s ease-in;
}

.nav-icon.nav-icon--active .nav-icon__middle{
    background-color: transparent;
    transition: all .2s ease-in;
}
.nav-icon.nav-icon--active .nav-icon__middle::after{
    transform: rotate(45deg);
    bottom: 0;
    transition: all .2s ease-in;
}
.nav-icon.nav-icon--active .nav-icon__middle::before{
    transform: rotate(-45deg);
    top: 0; 
    transition: all .2s ease-in;
}
.header-mobile__form{
    display: none;
}
@media(max-width:1490px){
    .menu__list-item+.menu__list-item {
        margin-left: 20px;
    }
    .header__right-btn,
    .header__center-address{
        margin-left: 0;
    }
    .header__center-block{
        margin-left: 40px;
    }
    .header__right-btn{
        width: 190px;
    }
    .header__center {
        margin-left: 15px;
        width: 60%;
    }
    .heading__form{
        margin-left: 0;
    } 
    .heading-block__inner {
        flex-wrap: wrap;
    }
    .heading__inner-wrapper{
        justify-content: center;
    }
    .heading-block{
        max-width: 600px;
    }
    .heading-info{
        margin-top: -35px;
    }
    .liv__block{
        justify-content: center;
    }
    
}

@media(max-width:1400px){
    .values__block{
        flex-wrap: wrap;
        justify-content: center;
    }
    .values__item{
        margin-top: 30px;
    }
}


@media(max-width:1350px){
    .slider-doctor__block-item{
        width: 240px;
    }
    
}



@media(max-width:1300px){
    .video__block{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}



@media(max-width:1200px){
    .header__left {
        width: 140px;
    }
    .logo{
        max-width: 100%;
    }
    .header__center{
        width: 40%;
    }
    .header__right{
        width: 500px;
    }
    .menu__list{
        margin-left: 10px;
    }
    .heading-block__item,
    .heading-block__item-text {
        width: 220px;
    }
    .heading-info {
        margin-top: 0px;
    }
    .heading-block__text{
        margin-bottom: 15px;
    }
    .heading__inner-wrapper{
        padding-top: 20px;
    }
    .tourism__inner{
        flex-wrap: wrap;
        justify-content: center;
    }
    .tourism__content{
        margin-top: 30px;
        margin-left: 0;
    }
    .calculation__inner{
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
    }
    .calculation__inner-img{
        transform: translateY(0);
        margin-right: 0;
    }
    .team__block{
        flex-wrap: wrap;
        justify-content: center;
    }
    .team__info{
        margin-top: 30px;
    }
    .experts{
        padding-bottom: 50px;
    }
    .team__content-title{
        font-size: 22px;
    }
    .dmu__block{
        flex-wrap: wrap;
       
    }
    .footer__item::before{
        display: none;
    }
    .triangle__inner{
        flex-wrap: wrap;
        justify-content: center;
    }
    .triangle__inner-content {
        max-width: 100%;
        margin-left: 0px;
        margin-top: 30px;
    }
    .medicine-hizar__box{
        flex-wrap: wrap;
        justify-content: center;
    }
    .medicine-hizar__content {
        max-width: 100%;
        margin-left: 0px;
        margin-top: 30px;
    }
    .header__right-top{
        border-bottom: none;
    }

}



@media(max-width:1100px){
    .arthritis__block{
        flex-wrap: wrap;
        justify-content: center;
    }
    .arthritis__img {
        margin-left: 0;
        order: -1;
        margin-bottom: 30px;
    }
    .services{
        padding-bottom: 10px;
    }
    .slider-reviews__item {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .price__block {
        flex-wrap: wrap;
        justify-content: center;
    }
    .price__content {
        max-width: 100%;
        margin-left: 0px;
        margin-top: 30px;
    }
    .treatment__block{
        flex-wrap: wrap;
        justify-content: center;
    }
    .treatment {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .treatment__img {
        margin-left: 0px;
        min-width: auto;
    }
    .dmu-bottom{
        flex-wrap: wrap;
        justify-content: center;
    }
    .dmu-bottom__right {
        max-width: 100%;
        margin-left: 0px;
        margin-top: 30px;
    }
    .contact__inner{
        flex-wrap: wrap;
        justify-content: center;
    }
    .survey__item {
        flex-wrap: wrap;
        margin-bottom: 50px;
        justify-content: center;
    }
    .survey__item-text,
    .survey__item-img{
        width: 100%;
    }
    .survey__item-img--order{
        order: -1;
    }
    .survey__item-text{
        border: none;
        padding: 10px;
    }
    .medicine-work__block{
        flex-wrap: wrap;
        justify-content: center;
    }
}






@media(max-width:1000px){
    .header__center-address{
        display: none;
    }
    .header__right {
        width: 420px;
    }
    .header__right-text{
        display: none;
    }
    .header__center {
        border-left: none;
        border-right: none;
    }
    .header,
    .header__center-top,
    .header__right-top {
        border-bottom: none;
    }
    .header__right {
        width: 353px;
        margin-left: 0;
    }
    .header__right-btn{
        font-size: 12px;
        height: 45px;
    }
    .header__right-top{
        padding-left: 0;
    }
    .header__center{
        width: 55%;
    }
    .header__right{
        width: 30%;
    }
    .header__right-block{
        display: none;
    }
    .heading__inner-wrapper{
        flex-wrap: wrap;
    }
    .heading-block{
        max-width: 100%;
    }
    .heading-block__item-title{
        margin-bottom: 5px;
        font-size: 35px;
    }
    .heading-block__item-text{
        font-size: 18px;
        margin-bottom: 5px;
    }
    .heading-block__item-title::before{
        top: 45px;
    }
    .heading__form{
        margin-top: 15px;
    }
    .directions-block,
    .help__inner{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .services__inner {
        justify-content: center;
    }
    .slider-reviews {
        padding-top: 15px;
        padding-bottom: 80px;
    }
    .slider-doctor__block-item {
        width: 240px;
        margin-left: auto;
        margin-right: auto;
    }
    .selection-box {
        display: block;
    }
    .selection-box__item{
        max-width: 100%;
        margin-bottom: 20px;
    }
    .selection-box__item-text{
        width: 100%;
    }
    .why__block{
        flex-wrap: wrap;
        justify-content: center;
    }
    .why__block-item{
        margin-bottom: 30px;
    }
    .request__block{
        flex-wrap: wrap;
        justify-content: center;
    }
    .why{
        padding-bottom: 0;
    }
    .request{
        background-size: cover;
    }
    .request__block-form {
         margin-left: 0px; 
        margin-top: 30px;
    }
    .wellness__block{
        flex-wrap: wrap;
        justify-content: center;
    }
    .wellness__content {
        margin-top: 30px;
        margin-left: 0px;
        max-width: 100%;
    }
    .dmu__item{
        max-width: 100%;
        margin-bottom: 30px;
    }
    .request-bottom__inner{
        flex-wrap: wrap;
        justify-content: center;
    }
    .request-bottom__form{
        margin-top: 30px;
    }
    .about__subtitle {
        margin-top: 20px;
        margin-bottom: 20px

}
    .mission {
        padding-top: 0px;
        padding-bottom: 0px;
    }

}




@media(max-width:850px){
    .liv__box{
        flex-wrap: wrap;
        justify-content: center;
    }
    .liv__box-content {
        margin-top: 30px;
         margin-left: 0px; 
        max-width: 100%;
    }
    .liv__item{
        max-width: 100%;
    }
    .liv__item-content{
        padding: 10px;
    }
    .footer__inner{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .contact__box{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .contact__box-info {
        max-width: 100%;
        margin-left: 0px;
    }
    
}







@media(max-width:750px){
    .header__right-btn{
        width: 140px;
        height: 35px;
        line-height: 35px;
    }
    .header__right-email{
        display: none;
    }
    .header__center {
        width: 85%;
    }
    .header__right{
        width: 15%;
    }
    .heading-block__title {
        margin-bottom: 10px;
        font-size: 35px;
    }
    .heading-block__text{
        font-size: 18px;
    }
    .heading-info__inner{
        flex-wrap: wrap;
    }
    .heading-info__item{
        width: 100%;
        margin-bottom: 20px;
    }
    .heading-info__item-title{
        margin-bottom: 5px;
    }
    .heading-info__title{
        margin-bottom: 25px;
    }
    .heading{
        height: 920px;
    }
    .heading-info__title {
        margin-top: 10px;
        font-size: 22px;
        line-height: 130%;
    }
    .heading-info {
        padding: 10px;
    }
    .heading-info__item-title {
        font-size: 18px;
    }
    .heading-info__item-text {
        font-size: 16px;
    }
    .heading-info__item-title{
        margin-left: 25px;
    }
    .heading-info__item-title::before{
        left: -25px;
    }
    .tourism__title{
        font-size: 22px;
    }
    .tourism {
        padding-top: 35px;
    }
    .directions{
        padding-top: 20px;
    }
    .help{
        padding-top: 40px;
    }
    .algorithm__block{
        flex-wrap: wrap;
    }
    .algorithm__item-top{
        transform: translateY(0);
    }
    .medicine__top {
        justify-content: center;
    }
    .request-bottom__inner{
        padding: 20px;
    }
    .about__block{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .about__item{
        margin-bottom: 20px;
    }
    .mission__inner{
        padding: 20px;
    }
    .medicine-work__content{
        max-width: 100%;
    }
}







@media(max-width:650px){
    .menu{
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #fff;
        right: 0;;
        left: 0;
        top: 0;
        transition: all .4s ease-in;
        transform: translateX(-100%);
        z-index: 19;
    }
    .menu.nav--active{
        transform: translateX(0);
    }
    .nav-icon{
        display: block;
    }
    .menu__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px !important;
       margin-top: 160px;
    }
    .header__right-btn{
        display: none;
    }
    .header__left{
        width: 100%;
    }
    .header__inner{
        padding-top: 15px;
        padding-bottom: 10px;
    }
    .header__center-top{
        display: none;
    }
    .header__center {
        width: 0%;
    }
    .header__logo{
        position: relative;
        z-index: 20;
    }
    .menu__list-item + .menu__list-item {
        margin-left: 0px;
    }
    .menu__list-item{
        margin-bottom: 18px;
    }
    .menu__list-link{
        font-size: 16px;
    }
    .menu__list{
        margin-top: 90px;
        align-items: flex-start;
    }
    .header-mobile__form{
        display: block;
    }
    .header-mobile__form{
        transform: translateY(100px);
    }
    .header-mobile__form-input{
        padding: 5px;
        padding-left: 30px;
        border: 1px solid #BDBDBD;
        border-radius: 5px;
    }
    .header-mobile__form-input::placeholder{
        font-size: 14px;
    }
    .header-mobile__form-btn{
        position: relative;
        font-size: 0;
        padding: 0;
    }
    .header-mobile__form-btn::after{
        position: absolute;
        content: '';
        width: 30px;
        height: 30px;
        background: url('../images/icon/search-header.svg') no-repeat;
        left: 15px;
        top: -12px;
    }
    .services__item{
        max-width: 100%;
    }
    .services__inner{
        gap: 20px;
    }
    .calculation__inner{
        padding: 10px;
    }
    .calculation__form-input{
        margin-bottom: 15px;
        width: 100%;
    }
    .calculation__form-btn.button{
        width: 100%;
        margin-left: 0;
    }
    .arthritis__bottom-img img{
        min-width: 60px;
    }
    .arthritis__bottom{
        align-items: flex-start;
    }
    .arthritis__img {
        min-width: auto;
    }
    .slider-reviews__item {
        max-width: 220px;
    }
    .values__item {
        flex-wrap: wrap;
        justify-content: center;
    }
    .medicine-work__content-text{
        max-width: 100%;
    }
    .medicine-hizar__bottom {
        flex-wrap: wrap;
    }
    .medicine-hizar {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
}








@media(max-width:550px){
    .heading-block__title {
        font-size: 24px;
    }
    .heading-block__text {
        font-size: 16px;
    }
    .heading-block__item-title {
        font-size: 24px;
    }
    .heading-block__item-text{
        font-size: 14px;
    }
    .heading-block__item-link {
        font-size: 14px;
    }
    .heading-block__item,
    .heading-block__item-text{
        width: 130px;
    }
    .heading-block__item{
        margin-bottom: 15px;
    }
    .heading__form{
        padding: 10px;
        max-width: 100%;
    }
    .heading__form-input,
    .heading__form-btn.button{
        width: 100%;
    }
    .heading__form-title{
        font-size: 16px;
        line-height: 20px;
    }
    .heading__form-text{
        line-height: 16px;
    }
    .heading-block__item-title::before{
        top: 34px;
        width: 65px;
    }
    .heading-block__item-link::before{
        top: 0;
    }
    .heading__form-btn.button::before{
        left: 53px;
    }
    .tourism__title{
        margin-bottom: 15px;
        font-size: 20px;
    }
    .tourism__content-text{
        margin-bottom: 0;
        font-size: 16px;
    }
    .tourism__content-title{
        margin-bottom: 15px;
    }
    .tourism__content-blockquote{
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 80px;
        font-size: 16px;
    }
    .tourism__bottom-img img{
        max-width: 60px;
    }
    .tourism__bottom-text{
        margin-left: 20px;
        font-size: 16px;
    }
    .tourism__inner {
        margin-bottom: 25px;
    }
    .tourism{
        padding-bottom: 25px;
    }
    .directions-block__wrapper-mobile{
        display: none;
    }
    .directions-block__btn{
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }
    .help__service-bottom{
        flex-wrap: wrap;
        justify-content: center;
    }
    .help__service{
        margin-left: 0;
    }
    .help__service-item{
        margin-bottom: 15px;
    }
    .directions__title {
        margin-bottom: 20px;
        font-size: 22px;
    }
    .directions-block{
        justify-content: flex-start;
    }
    .help__service-top {
        margin-bottom: 25px;
        padding: 10px;
    }
    .help__service-item-text{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .directions-block__item a{
        margin-bottom: 25px;
    }
    .directions{
        padding-bottom: 20px;
    }
    .services__title {
        margin-bottom: 15px;
        font-size: 22px;
    }
    .services__item-title{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 18px;
    }
    .services__item-text{
        width: 100%;
        font-size: 16px;
    }
    .calculation__form {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .calculation__form-title {
        font-size: 20px;
    }
    .calculation__inner{
        margin-top: 40px;
    }
    .questions__title{
        margin-bottom: 5px;
    }
    .questions{
        padding-bottom: 0;
    }
    .arthritis__title{
        font-size: 20px;
    }
    .arthritis__content-text{
        font-size: 16px;
    }
    .arthritis__block{
        margin-bottom: 15px;
    }
    .arthritis__bottom-text {
        margin-left: 20px;
        font-size: 16px;
        line-height: 22px;
    }
    .algorithm__item:nth-child(2n){
        margin-left: auto;
    }
    .algorithm__title{
        margin-bottom: 30px;
        font-size: 22px;
        text-align: left;
    }
    .algorithm {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .algorithm__item{
        margin-bottom: 15px;
    }
    .slider-reviews__item{
        max-width: 100%;
    }
    .doctor__arrows-right::after, 
    .doctor__arrows-right::before{
        top: 100px;
    }
    .doctor__arrows-right::after{
        background: url('../images/icon/arrows-slider-mobile.svg') no-repeat;
        left: -130px;
    }
    .doctor__arrows-right::before{
        background: url('../images/icon/arrows-slider-mobile-right.svg') no-repeat;
    }
    .slider-doctor__content{
        transform: translateY(-30px);
    }
    .slider-doctor__title{
        font-size: 22px;
    }
    .slider-reviews__content{
        flex-wrap: wrap;
    }
    .slider-reviews__title{
        font-size: 22px;
    }
    .slider-doctor {
        padding-bottom: 50px;
    }
    .reviews__arrows-left::after, 
    .reviews__arrows-right::before{
        top: 40px;
    }
    .reviews__arrows-left::after{
        background: url('../images/icon/arrows-slider-mobile.svg') no-repeat;
        left: -130px;
    }
    .reviews__arrows-right::before{
        background: url('../images/icon/arrows-slider-mobile-right.svg') no-repeat;
    }
    .selection-box__item-img img{
        width: 80px;
    }
    .why {
        margin-top: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .why__title{
        margin-bottom: 25px;
        font-size: 22px;
    }
    .why__block-item img{
        width: 100px;
    }
    .why__block-title{
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .request__block-title {
        font-size: 24px;
        line-height: 115%;
    }
    .request {
        padding-top: 30px;
        padding-bottom: 25px;
    }
    .request__block-text{
        font-size: 16px;
    }
    .kinds__title {
        margin-bottom: 20px;
        font-size: 22px;
    }
    .kinds {
        padding-top: 37px;
        padding-bottom: 15px;
    }
    .kinds-box__item {
       margin-bottom: 20px;
    }
    .organization__title {
        font-size: 22px;
        line-height: 120%;
    }
    .organization {
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .organization__text {
        margin-bottom: 30px;
        font-size: 16px;
    }
    .organization__block{
        gap: 30px;
    }
    .organization__block-text {
        margin-left: 20px;
        max-width: 280px;
        font-size: 14px;
        line-height: 18px;
    }
    .wellness__title{
        font-size: 22px;
        margin-bottom: 25px;
    }
    .wellness {
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .wellness__content-text,
    .wellness__center-text,
    .wellness__bottom-text{
        font-size: 16px;
    }
    .medicine__item-text{
        margin-top: 10px;
    }
    .medicine__item{
        margin-top: 30px;
    }
    .medicine__btn{
        margin-top: 25px;
        width: 100%;
    }
    .hisar__title {
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: 22px;
    }
    .hisar__text{
        font-size: 16px;
    }
    .hisar__reviews{
        padding-left: 80px;
        font-size: 16px;
    }
    .hisar{
        margin-bottom: 25px;
    }
    .benefits__block-item{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .benefits__block-img img{
        width: 120px;
    }
    .benefits__block-text{
        margin-left: 15px;
        width: 100%;
        margin-top: 0;
        font-size: 14px;
    }
    .benefits__block{
        gap: 30px;
    }
    .benefits__title {
        margin-bottom: 30px;
        font-size: 22px;
    }
    .benefits {
        padding-top: 45px;
        padding-bottom: 35px;
    }
    .video__title {
        margin-bottom: 25px;
        font-size: 22px;
    }
    .video__item-text {
        margin-top: 10px;
        font-size: 16px;
    }
    .video {
        padding-bottom: 35px;
    }
    .price__bottom-img img {
        min-width:60px;
    }
    .price__bottom {
        align-items: flex-start;
    }
    .price__title{
        font-size: 22px;
    }
    .price__content-text{
        font-size: 16px;
    }
    .price__bottom-text {
        margin-left: 21px;
        width: 100%;
        font-size: 16px;
    }
    .price__img {
        min-width: 100%;
    }
    .price {
        padding-top: 35px;
        padding-bottom: 20px;
    }
    .price__block{
        margin-bottom: 5px;
    }
    .liv__item{
        flex-direction: column;
    }
    .liv__item-img {
        min-width: auto;
    }
    .liv__box-img {
        min-width: 100%;
    }
    .liv__item-title{
        margin-bottom: 5px;
        font-size: 18px;
    }
    .liv__box-title{
        font-size: 20px;
    }
    .liv__box-subtitle{
        font-size: 16px;
    }
    .liv__box-phone{
        font-size: 14px;
        line-height: 20px;
    }
    .liv__item{
        align-items: center;
    }
    .experts .doctor__arrows-right::after, 
    .experts .doctor__arrows-right::before {
        top: 245px;
    }
    .experts{
        padding-bottom: 0;
    }
    .team__info-img {
        min-width: 50px;
    }
    .team__info-box {
        max-width: 100%;
        margin-left: 20px;
    }
    .team {
        padding-bottom: 0px;
    }
    .team__info-item{
        margin-bottom: 25px;
        align-items: flex-start;
    }
    .treatment__title{
        margin-bottom: 15px;
        font-size: 22px;
    }
    .treatment__content-text{
        font-size: 16px;
    }
    .treatment__reviews{
        padding: 15px;
        font-size: 16px;
    }
    .treatment__reviews p {
        margin-left: 80px;
    }
    .dmu__title,
    .dmu-bottom__left-title{
        font-size: 22px;
    }
    .dmu__content-title{
        margin-bottom: 5px;
        font-size: 18px;
    }
    .dmu__content-text{
        margin-bottom: 5px;
        font-size: 16px;
    }
    .dmu__number {
        width: 55px;
        height: 55px;
        font-size: 20px;
    }
    .dmu-bottom__img{
        min-width: 50px;
    }
    .dmu {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .dmu__content-phone,
    .dmu__content-arrows{
        font-size: 16px;
    }
    .dmu__block {
        margin-bottom: 20px;
    }
    .dmu-bottom__item {
        align-items: flex-start;
    }
    .request-bottom__content-phone--one::before, 
    .request-bottom__content-phone--two::before{
        display: none;
    }
    .request-bottom__content-title{
        font-size: 22px;
    }
    .request-bottom__content-box{
        flex-wrap: wrap;
    }
    .request-bottom__content-text{
        margin-bottom: 10px;
    }
    .request-bottom__form{
        margin-top: 10px;
    }
    .footer__inner{
        justify-content: flex-start;
    }
    .footer__item-btn{
        margin-bottom: 20px;
    }
    .footer {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .footer__list-item, 
    .footer__menu-list-item {
        margin-bottom: 10px;
    }
    .footer__item-title,
    .footer__item-phone,
    .footer__item-email{
        margin-bottom: 10px;
    }
    .about__subtitle {
        margin-top: 30px;
        margin-bottom: 25px;
        font-size: 20px;
    }
    .about__title{
        font-size: 22px;
        margin-bottom: 25px;
    }
    .about__text{
        text-align: unset;
        max-width: 100%;
        font-size: 16px;
    }
    .about__item-text {
        font-size: 16px;
        margin-left: 15px;
    }
    .about__block{
        margin-bottom: 20px;
    }
    .about-slider{
        padding-top: 65px;
    }
    .about-slider .doctor__arrows-right::after, 
    .about-slider .doctor__arrows-right::before{
        top: 260px;
    }
   .mission__title{
        margin-bottom: 5px;
        font-size: 22px;
   }
   .mission__text{
        font-size: 16px;
   }
   .values__title{
        font-size: 20px;
   }
   .values{
        padding-top: 40px;
   }
   .values__text{
        margin-bottom: 10px;
   }
   .values__item-title{
        font-size: 20px;
        margin-bottom: 10px;
   }
   .values__item-content{
        padding: 15px;
   }
   .values__item-img--order{
        order: -1;
   }
   .about-reviews .doctor__arrows-right::after,
   .about-reviews .doctor__arrows-right::before {
        top: 126px;
    }
    .doctor__arrows-left, 
    .doctor__arrows-right{
        z-index: 10;
    }
    .about-reviews .slider-reviews{
        padding-bottom: 40px;
    }
    .request-bottom.about{
        padding-top: 40px;
    }
    .contact__title {
        padding-top: 20px;
        margin-bottom: 10px;
        font-size: 22px;
    }
    .contact__subtitle {
        margin-bottom: 15px;
        font-size: 16px;
    }    
    .contact__box-content-address{
        margin-bottom: 5px;
        font-size: 16px;
    }
    .contact__box-content-email {
        margin-bottom: 20px;
        font-size: 16px;
    }
    .contact__box-content-time{
        font-size: 16px;
    }
    .map-contact{
        height: 300px;
    }
    .contact__box-info-phone--one, 
    .contact__box-info-phone--two{
        font-size: 16px;
    }
    .contact__box-info-text {
        margin-bottom: 20px;
    }
    .contact__inner{
        padding-bottom: 20px;
    }
    .map {
        padding-bottom: 25px;
    }
    .services-medicine{
        padding-bottom: 50px;
    }
    .survey__item-text{
        font-size: 16px;
        border: 1px solid #BDBDBD;
    }
    .survey {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .survey__title{
        font-size: 22px;
        margin-bottom: 30px;
    }
    .algorithm-medicine{
        padding-top: 15px;
        padding-bottom: 5px;
    }
    .medical-examination__title{
        margin-bottom: 25px;
        font-size: 20px;
    }
    .medical-examination{
        margin-top: 30px;
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .medical-examination__item-title {
        margin-top: 15px;
    }
    .medical-examination__item-text{
        margin-bottom: 15px;
        font-size: 16px;
    }
    .medical-examination__text{
        margin-top: 10px;
        font-size: 16px;
    }
    .medicine-icon {
        padding-top: 30px;
    }
    .medicine-icon__item {
         width: 100%; 
        display: flex;
        align-items: center;
    }
    .medicine-icon__item-text{
        margin-left: 15px;
        font-size: 14px;
        margin-top: 0;
        width: 100%;
        text-align: unset;
    }
    .triangle {
        padding-top: 20px;
        padding-bottom: 25px;
    }
    .triangle__bottom-img img {
        min-width: 50px;
    }
    .triangle__bottom{
        margin-top: 35px;
        align-items: flex-start;
    }
    .triangle__bottom-text{
        margin-left: 20px;
        font-size: 16px;
    }
    .triangle__inner-title{
        font-size: 22px;
        margin-bottom: 20px;
    }
    .triangle__inner-subtitle{
        font-size: 20px;
    }
    .triangle__inner-content {
        font-size: 16px;
    }
    .medicine-price__block{
        padding: 30px;
        margin-bottom: 25px;
    }
    .medicine-price__block-title{
        font-size: 22px;
    }
    .medicine-price__box-title{
        margin-bottom: 20px;
        font-size: 20px;
    }
    .medicine-price__box-text{
        margin-bottom: 20px;
        font-size: 16px;
    }
    .medicine-price__box-subtitle{
        font-size: 16px;
    }
    .medicine-price {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .medicine-price__block{
        background-size: cover;
    }
    .arthritis-medicine {
        padding-top: 40px;
        padding-bottom: 30px;
        margin-bottom: 0px;
    }
    .arthritis-medicine__text{
        font-size: 16px;
        margin-top: 20px;
    }
    .medicine-medicine{
        padding-bottom: 30px;
    }
    .wellness-medicine .wellness__title {
        font-size: 20px;
    }
    .wellness-medicine .wellness__block{
        margin-bottom: 0;
    }
    .medicine-work__title{
        margin-bottom: 20px;
        font-size: 22px;
    }
    .medicine-work__content-text{
        font-size: 16px;
    }
    .directions-block__btn-dowble{
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }
    .medicine-hizar__block{
        margin-top: 15px;
        margin-bottom: 20px;
        padding: 15px;
    }
    .medicine-hizar__title{
        font-size: 20px;
    }
    .medicine-hizar__block-title{
        margin-bottom: 15px;
        font-size: 18px;
    }
    .medicine-hizar__block-text{
        font-size: 16px;
    }
    .medicine-hizar__content-text{
        font-size: 16px;
    }
    .medicine-hizar__content-subtitle{
        font-size: 18px;
    }
    .medicine-hizar__bottom-title{
        font-size: 22px;
    }
    .medicine-hizar__bottom-text{
        font-size: 16px;
    }
    .medicine-hizar__bottom-title{
        margin-bottom: 0;
    }
    .medicine-hizar__footer-text{
        margin-left: 15px;
        font-size: 16px;
    }
    .medicine-hizar__box{
        margin-bottom: 25px;
    }
    .heading-block-medicine {
        padding-top: 25px;
        padding-bottom: 10px;
    }
    .medicine-liv-clinic {
        margin-bottom: 30px;
    }
    .request-bottom-medicine{
        padding-bottom: 40px;
    }
    .directions-block__wrapper-mobile--dowble{
        display: none;
    }
    .treatment-hizar {
        margin-top: 0;
    }
    .treatment-hizar__text{
        font-size: 16px;
    }
    .tretment-calculation {
        padding-top: 0px;
    }
    .slider-reviews-treatment{
        padding-bottom: 15px;
    }
    .triangle__inner-img.triangle-treatment__inner-img{
        order: -1;
    }
    .triangle-treatment{
        padding-bottom: 50px;
    }
    .algorithm-treatment{
        padding-top: 10px;
    }
    .request-bottom-treatment{
        padding-bottom: 50px;
    }
    .footer__item-mobile{
        display: none;
    }
    .questions__footer{
        display: block;
    }
    .questions-accardion__title.questions-accardion__title-mobile{
        position: relative;
        display: block;
        padding-bottom: 10px;
        font-size: 18px;
    }
    .questions-accardion__title.questions-accardion__title-mobile::after{
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        background: url('../images/icon/footer-arrows.svg') no-repeat;
        right: 0;
        top: 6px;
    }
    .footer .questions-accardion__title::before{
        display: none;
    }
    .footer .questions-accardion__title{
        margin-left: 0;
        color: #fff;
    }
    .questions-footer__wrapper{
        margin-bottom: 30px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .questions-footer{
        margin-top: 40px;
    }
    .questions-footer__menu,
    .footer__inner-info{
        margin-bottom: 10px;
        font-size: 16px;
        color:rgba(255,255,255,0.5);
    }
    .footer .questions-accardion__content{
        padding-top: 0;
    }
    .questions-accardion__text.questions-accardion__text--footer{
        display: flex;
        flex-direction: column;
    }
    .footer__item-social.footer__item-social--modile{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer__item-copyright{
        display: none;
    }
    .footer__item-copyright.footer__item-copyright--mobile{
        display: block;
    }
    .footer__item-social--modile--block{
        display: flex;
    }
    .experts-doctor__arrows{
        margin-top: 15px;
    }

}