.treatment-hizar__text{
    margin-top: 30px;
}
.treatment-hizar__footer-text{
    font-weight: 700;
}
.tretment-calculation{
    padding-top: 50px;
}
.treatment-hizar{
    margin-top: 90px;
}
.treamtent-wellness__bottom-text span{
    display: block;
}
.slider-reviews-treatment{
    padding-top: 0;
}
.treatment-icon{
    padding-top: 120px;
}
.treatment-examination__bottom{
    display: flex;
    margin-top: 40px;
}
.treatment-examination__text{
    margin-top: 0;
    margin-left: 30px;
    font-weight: 400;
}
.treatment-examination__bottom-img{
    min-width: 60px;
}
.survey-treatment{
    padding-top: 0;
}
.triangle-treatment__inner-img{
    clip-path: polygon(12% 0, 100% 0, 100% 100%, 12% 100%, 0 50%, 0 50%);
}
.triangle-treatment__inner-content{
    margin-left: 0;
}